/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; padding-top: .75rem; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #303342; }

mat-card {
  margin-bottom: .75rem;
}

.member-sprite {
  height: 4rem;
  width: 4rem;
}

.member-sprite:after {
  content: "";
  position: absolute;
  margin-left: -4rem;
  width: inherit;
  height: inherit;
  background: #ebebeb url('https://img.pokemondb.net/sprites/home/normal/ditto.png') no-repeat center;
  background-size: cover;
  color: transparent;
}

.member {
  text-align: center;
  padding: .75rem;
  display: inline-block;
}